<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 비어있을 수 없음 필수입력 요소 (해당 mapper를 부르는 별칭)-->
<mapper namespace="inquiryMapper">

<!-- ResultMap 정의 -->
    <resultMap id="inquiryResultMap" type="Inquiry">
        <id property="inquiryId" column="INQUIRY_ID" />
        <result property="inquiryWriter" column="INQUIRY_WRITER" />
        <result property="title" column="TITLE" />
        <result property="content" column="CONTENT" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="status" column="STATUS" />
    </resultMap>
    
    <resultMap id="inquiryAnswerResultMap" type="InquiryAnswer">
         <id property="answerId" column="ANSWER_ID" />
        <result property="inquiryId" column="INQUIRY_ID" />
        <result property="answerContent" column="ANSWER_CONTENT" />
        <result property="answeredAt" column="ANSWERED_AT" />
    </resultMap>
    
        <!-- 문의글 등록 -->
    <insert id="insertInquiry" parameterType="Inquiry">
        
        INSERT INTO INQUIRY (
		    INQUIRY_ID,
		    INQUIRY_WRITER,
		    TITLE,
		    CONTENT,
		    CREATED_AT,
		    STATUS
		)
		VALUES (
		    INQUIRY_SEQ.NEXTVAL,
		    #{inquiryWriter},
		    #{title},
		    #{content},
		    SYSDATE,
		    #{status})
    </insert>
    
    <select id="inquiryList" resultMap="inquiryResultMap">
		SELECT INQUIRY_ID
			  ,INQUIRY_WRITER
		      ,TITLE
		      ,CONTENT
		      ,CREATED_AT
		      ,STATUS
		FROM INQUIRY
	</select>	
    
    

</mapper>