<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 비어있을 수 없음 필수입력 요소 (해당 mapper를 부르는 별칭)-->
<mapper namespace="movieMapper">

	<!-- 영화목록뷰를 위한 resultMap (written by 이수한) -->
	<resultMap type="Movie" id="movieListResultMap">
		<result property="movieId" column="MOVIE_ID" />
		<result property="typeId" column="TYPE_ID" />
		<result property="movieTitle" column="MOVIE_TITLE" />
		<result property="description" column="DESCRIPTION" />
		<result property="director" column="DIRECTOR" />
		<result property="duration" column="DURATION" />
		<result property="rating" column="RATING" />
		<result property="releaseDate" column="RELEASE_DATE" />
		<result property="status" column="STATUS" />
		<result property="posterPath" column="POSTER_PATH" />
		<result property="movieType" column="MOVIE_TYPE" />
		<collection property="criteria" ofType="Criterion">
			<result property="criteriaId" column="CRITERIA_ID"/>
			<result property="criteria" column="CRITERIA"/>
		</collection>
		<collection property="genres" ofType="Genre">
			<result property="genreId" column="GENRE_ID"/>
			<result property="genreName" column="GENRE_NAME"/>
		</collection>
		<collection property="actors" ofType="Actor">
			<result property="actorId" column="ACTOR_ID"/>
			<result property="actorName" column="ACTOR_NAME"/>
		</collection>
		<collection property="reviews" ofType="Review">
			<result property="reviewId" column="REVIEW_ID"/>
			<result property="memberNo" column="MEMBER_NO"/>
			<result property="movieId" column="MOVIE_ID"/>
			<result property="reviewContent" column="REVIEW_CONTENT"/>
			<result property="reviewRating" column="reviewRating"/>
			<collection property="criteria" ofType="Criterion">
				<result property="criteriaId" column="CRITERIA_ID"/>
				<result property="criteria" column="CRITERIA"/>
			</collection>
		</collection>
		<collection property="stillCuts" ofType="StillCut">
			<result property="stillCutId" column="STILLCUT_ID"/>
			<result property="fileLevel" column="FILE_LEVEL"/>
			<result property="stillCutFile" column="STILLCUT_FILE"/>
		</collection>
		</resultMap>

	
	<select id="movieListAll" resultMap="movieListResultMap">
		SELECT MOVIE_ID
			  ,MOVIE_TITLE
			  ,DESCRIPTION
			  ,RATING
			  ,POSTER_PATH
			  ,RELEASE_DATE
		FROM MOVIE
		WHERE STATUS IN ('S','P')
		ORDER BY RELEASE_DATE DESC
	</select>
	
	<select id="searchOfAllMovie" resultMap="movieListResultMap">
		SELECT MOVIE_ID
		      ,MOVIE_TITLE
		      ,DESCRIPTION
		      ,RATING
		      ,POSTER_PATH
		      ,RELEASE_DATE
		FROM MOVIE
		JOIN MOVIE_GENRE USING (MOVIE_ID)
		JOIN GENRE USING (GENRE_ID)
		JOIN MOVIE_ACTOR USING (MOVIE_ID)
		JOIN ACTOR USING (ACTOR_ID)
		WHERE
		<choose>
			<when test="condition == 'title'">
				LOWER(MOVIE_TITLE)
			</when>
			<when test="condition == 'director'">
				LOWER(DIRECTOR)
			</when>
			<when test="condition == 'actor'">
				LOWER(ACTOR_NAME)
			</when>
			<otherwise>
				LOWER(GENRE_NAME)
			</otherwise>
		</choose>
		LIKE '%' || LOWER(#{keyword}) || '%'
		AND STATUS IN ('S','P')
		GROUP BY MOVIE_ID,MOVIE_TITLE,DESCRIPTION,RATING,POSTER_PATH,RELEASE_DATE
		ORDER BY RELEASE_DATE DESC
	</select>
	
	<select id="screeningMovieList" resultMap="movieListResultMap">
		SELECT MOVIE_ID
		      ,MOVIE_TITLE
		      ,DESCRIPTION
		      ,RATING
		      ,POSTER_PATH
		      ,RELEASE_DATE
		FROM MOVIE
		WHERE STATUS = 'S'
		ORDER BY RELEASE_DATE DESC   
	</select>
	
	<select id="searchOfScreeningMoive" resultMap="movieListResultMap">
		SELECT MOVIE_ID
		      ,MOVIE_TITLE
		      ,DESCRIPTION
		      ,RATING
		      ,POSTER_PATH
		      ,RELEASE_DATE
		FROM MOVIE
		JOIN MOVIE_GENRE USING (MOVIE_ID)
		JOIN GENRE USING (GENRE_ID)
		JOIN MOVIE_ACTOR USING (MOVIE_ID)
		JOIN ACTOR USING (ACTOR_ID)
		WHERE
		<choose>
			<when test="condition == 'title'">
				LOWER(MOVIE_TITLE)
			</when>
			<when test="condition == 'director'">
				LOWER(DIRECTOR)
			</when>
			<when test="condition == 'actor'">
				LOWER(ACTOR_NAME)
			</when>
			<otherwise>
				LOWER(GENRE_NAME)
			</otherwise>
		</choose>
		LIKE '%' || LOWER(#{keyword}) || '%'
		AND STATUS = 'S'
		GROUP BY MOVIE_ID,MOVIE_TITLE,DESCRIPTION,RATING,POSTER_PATH,RELEASE_DATE
		ORDER BY RELEASE_DATE DESC
	</select>
	
	<select id="comingMovieList" resultMap="movieListResultMap">
		SELECT MOVIE_ID
		      ,MOVIE_TITLE
		      ,DESCRIPTION
		      ,RATING
		      ,POSTER_PATH
		      ,RELEASE_DATE
		      ,STATUS
		FROM MOVIE
		WHERE STATUS = 'P'
		ORDER BY RELEASE_DATE DESC   
	</select>
	
	<select id="searchOfComingMovie" resultMap="movieListResultMap">
		SELECT MOVIE_ID
		      ,MOVIE_TITLE
		      ,DESCRIPTION
		      ,RATING
		      ,POSTER_PATH
		      ,RELEASE_DATE
		FROM MOVIE
		JOIN MOVIE_GENRE USING (MOVIE_ID)
		JOIN GENRE USING (GENRE_ID)
		JOIN MOVIE_ACTOR USING (MOVIE_ID)
		JOIN ACTOR USING (ACTOR_ID)
		WHERE
		<choose>
			<when test="condition == 'title'">
				LOWER(MOVIE_TITLE)
			</when>
			<when test="condition == 'director'">
				LOWER(DIRECTOR)
			</when>
			<when test="condition == 'actor'">
				LOWER(ACTOR_NAME)
			</when>
			<otherwise>
				LOWER(GENRE_NAME)
			</otherwise>
		</choose>
		LIKE '%' || LOWER(#{keyword}) || '%'
		AND STATUS = 'P'
		GROUP BY MOVIE_ID,MOVIE_TITLE,DESCRIPTION,RATING,POSTER_PATH,RELEASE_DATE
		ORDER BY RELEASE_DATE DESC
	</select>
	
	
	
	
	
	<select id="movieDetail" resultMap="movieListResultMap">
		SELECT *
		FROM MOVIE
		JOIN MOVIE_GENRE USING (MOVIE_ID)
		JOIN GENRE USING (GENRE_ID)
		JOIN MOVIE_ACTOR USING (MOVIE_ID)
		JOIN ACTOR USING (ACTOR_ID)
		JOIN STILLCUT USING (MOVIE_ID)
		JOIN TYPE USING (TYPE_ID)
		JOIN CRITERIA_TYPE USING (TYPE_ID)
		JOIN CRITERIA USING (CRITERIA_ID)
		WHERE MOVIE_ID = #{mvId}
	</select>
	
	
	
	<resultMap type="Review" id="reviewResultMap">
		<result property="reviewId" column="REVIEW_ID"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="movieId" column="MOVIE_ID"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewId" column="REVIEW_ID"/>
		<result property="reviewRating" column="REVIEW_RATING"/>
		<result property="reviewWriter" column="MEMBER_ID"/>
		<collection property="criteria" ofType="Criterion">
			<result property="criteriaId" column="CRITERIA_ID"/>
			<result property="criteria" column="CRITERIA"/>
		</collection>
	</resultMap>
	
	<select id="getReviews" resultMap="reviewResultMap">
		SELECT REVIEW_ID
			  ,REVIEW_CONTENT
		      ,REVIEW_RATING
		      ,MEMBER_ID
		      ,CRITERIA
		FROM MOVIE
		JOIN REVIEW USING(MOVIE_ID)
		JOIN REVIEW_CRITERIA USING(REVIEW_ID)
		JOIN CRITERIA USING(CRITERIA_ID)
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MOVIE_ID = #{mvId}
		ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="getStillCuts" resultMap="movieListResultMap">
		SELECT STILLCUT_FILE
		FROM MOVIE
		JOIN STILLCUT USING(MOVIE_ID)
		WHERE MOVIE_ID = #{mvId}
	</select>
	
	<select id="getReviewId" resultType="_int">
		SELECT SEQ_REVIEW.NEXTVAL
		FROM DUAL
	</select>
	
	<insert id="insertReview">
		INSERT INTO REVIEW(REVIEW_ID
						  ,MEMBER_NO
						  ,MOVIE_ID
						  ,REVIEW_CONTENT
						  ,REVIEW_RATING)
			   VALUES(#{reviewId},#{memberNo},#{movieId},#{reviewContent},#{reviewRating})
	</insert>
	
	<insert id="insertReviewCriteria">
		INSERT INTO REVIEW_CRITERIA
			   VALUES(#{reviewId},#{criterionId})
	</insert>
	
	
	<!-- 관리자용 -->
	<select id="findActors" resultMap="actorResultMap">
		SELECT *
		FROM ACTOR
		WHERE ACTOR_NAME LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="getActorList" resultMap="actorResultMap">
		SELECT *
		FROM ACTOR
	</select>
	
	<select id="getTypeList" resultMap="typeResultMap">
		SELECT *
		FROM TYPE
	</select>
	
	<select id="getGenreList" resultMap="genreResultMap">
		SELECT *
		FROM GENRE
	</select>
	
	<select id="getNextMovieId" resultType="_int">
		SELECT SEQ_MOVIE.NEXTVAL
		FROM DUAL
	</select>
	
	<insert id="insertMovie">
		INSERT INTO MOVIE
			   VALUES(#{movieId},#{typeId},#{movieTitle},#{description},#{director},#{duration},#{rating},#{releaseDate},#{status},#{posterPath},#{endDate})
	</insert>
	
	<insert id="insertMovieActor">
		INSERT INTO MOVIE_ACTOR
			   VALUES(#{movieId},#{actorId})
	</insert>
	
	<insert id="insertMovieGenre">
		INSERT INTO MOVIE_GENRE
			   VALUES(#{movieId},#{genreId})
	</insert>
	
	<insert id="insertStillCut">
		INSERT INTO STILLCUT
			   VALUES(SEQ_STILLCUT.NEXTVAL,#{movieId},#{stillCut.fileLevel},#{stillCut.stillCutFile})
	</insert>
	
	<insert id="registerActor">
		INSERT INTO ACTOR
			   VALUES(SEQ_ACTOR.NEXTVAL,#{actorName},#{birthDate},#{imagePath})
	</insert>
	
	<resultMap type="Actor" id="actorResultMap">
		<result property="actorId" column="ACTOR_ID"/>
		<result property="actorName" column="ACTOR_NAME"/>
		<result property="birthDate" column="BIRTH_DATE"/>
		<result property="imagePath" column="IMAGE_PATH"/>
	</resultMap>
	
	<resultMap type="Type" id="typeResultMap">
		<result property="typeId" column="TYPE_ID"/>
		<result property="movieType" column="MOVIE_TYPE"/>
	</resultMap>
	
	<resultMap type="Genre" id="genreResultMap">
		<result property="genreId" column="GENRE_ID"/>
		<result property="genreName" column="GENRE_NAME"/>
	</resultMap>
	
	
	<select id="movieSelect" parameterType="String" resultMap="movieResultMap">
		SELECT
		    movie_id,
		    type_id,
		    movie_title,
		    description,
		    director, 
		    duration,
		    rating,
		    release_date,
		    status
		FROM
		    movie
		WHERE
		    status = #{status}
		
	</select>
	
	<select id="schSelect" parameterType="_int" resultMap="scheduleResultMap">
		SELECT
			*
		FROM
			schedule
		WHERE
			movie_id = #{movieId}
		
	</select>
	
	<select id="getMovieById" parameterType="_int" resultMap="movieResultMap">
		SELECT
		    movie_id,
		    type_id,
		    movie_title,
		    description,
		    director,
		    duration,
		    rating,
		    release_date,
		    status
		FROM
		    movie
		WHERE
		    movie_id = #{movieId}
	</select>
	
	<select id="getSchById" parameterType="_int" resultMap="scheduleResultMap">
		SELECT
			*
		FROM
			schedule
		WHERE
			schedule_id = #{scheduleId}
	</select>
	
	
	<!-- 영화 resultMap  -->
	<resultMap type="Movie" id="movieResultMap">
		<result property="movieId" column="MOVIE_ID"/>
		<result property="typeId" column="TYPE_ID"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="director" column="DIRECTOR"/>
		<result property="duration" column="DURATION"/>
		<result property="rating" column="RATING"/>
		<result property="releaseDate" column="RELEASE_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="posterPath" column="POSTER_PATH"/>
	</resultMap>
	
	<!-- 상영정보 resultMap  -->
	<resultMap type="Schedule" id="scheduleResultMap">
		<result property="scheduleId" column="SCHEDULE_ID"/>
		<result property="movieId" column="MOVIE_ID"/>
		<result property="screenId" column="SCREEN_ID"/>
		<result property="screeningDate" column="SCREENING_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="language" column="LANGUAGE"/>
	</resultMap>
	
	<!-- 영화 상태 변경 쿼리 -->
	<update id="updateMvStatus" parameterType="_int">
		UPDATE movie
		SET status = 'P'
		WHERE
			movie_id = #{movieId}
	</update>
	
	
	
	<!--
	 석현님 이거 s가 screening이라 상영중 아니에요? p가 상영 예정 아니었나요?
	-->		
	<!-- STATUS가 'S'(schedule 예고작)인 영화만을 가져오기, staus 넘겨받기  -->
	<!-- 
		<select id="comingMovieList" resultMap="movieListResultMap">
		SELECT MOVIE_ID
		      ,MOVIE_TITLE
		      ,DESCRIPTION
		      ,RATING
		      ,POSTER_PATH
		      ,RELEASE_DATE
		      ,STATUS 
		FROM MOVIE
		WHERE STATUS = 'S'
		ORDER BY RELEASE_DATE DESC   
	</select>
	-->
	
		
	

	
	
	
	

	
	
	
	
	
	
	

	
	
	
	
	
	
	

</mapper>