<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스에 필요한 설정들을 작성하는 설정파일 -->
 	<settings>
 		<!-- 자바에서 null값이 전달되었을때 mybatis에서 어떻게 처리할것인지에 대한 설정(NULL로 인식해라) -->
 		<setting name="jdbcTypeForNull" value="NULL"/>
 	
 	</settings>
 	
 	<!-- 별칭 부여 section -->
 	<typeAliases>
 		<typeAlias type="com.kh.teammovie.movie.model.vo.Movie" alias="Movie"/>
 		<typeAlias type="com.kh.teammovie.movie.model.vo.Review" alias="Review"/>
 		<typeAlias type="com.kh.teammovie.movie.model.vo.StillCut" alias="StillCut"/>
 		<typeAlias type="com.kh.teammovie.movie.model.vo.Criterion" alias="Criterion"/>
 		<typeAlias type="com.kh.teammovie.movie.model.vo.Actor" alias="Actor"/>
 		<typeAlias type="com.kh.teammovie.movie.model.vo.Type" alias="Type"/>
 		<typeAlias type="com.kh.teammovie.movie.model.vo.Genre" alias="Genre"/>
 		<typeAlias type="com.kh.teammovie.schedule.model.vo.Schedule" alias="Schedule"/>
 		<typeAlias type="com.kh.teammovie.screen.model.vo.Screen" alias="Screen"/>
 		<typeAlias type="com.kh.teammovie.seat.model.vo.Seat" alias="Seat"/>
 		<typeAlias type="com.kh.teammovie.member.model.vo.Member" alias="Member"/>
 	</typeAliases>
 	
</configuration>